* {
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  background-image: url(../img/stars.png);
  background-size: 100%;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-color: #000;
  width: 100%;
  text-align: center; }

header img.menu {
  width: 27px;
  height: 21px;
  align-self: flex-end;
  margin-top: 35px;
  margin-right: 25px; }

header .header {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  header .header .header-title {
    width: 50%;
    text-shadow: -0   -3px 1px #FFF831, 0   -3px 1px #FFF831, -0    3px 1px #FFF831, 0    3px 1px #FFF831, -3px -0   1px #FFF831, 3px -0   1px #FFF831, -3px  0   1px #FFF831, 3px  0   1px #FFF831, -1px -3px 1px #FFF831, 1px -3px 1px #FFF831, -1px  3px 1px #FFF831, 1px  3px 1px #FFF831, -3px -1px 1px #FFF831, 3px -1px 1px #FFF831, -3px  1px 1px #FFF831, 3px  1px 1px #FFF831, -2px -3px 1px #FFF831, 2px -3px 1px #FFF831, -2px  3px 1px #FFF831, 2px  3px 1px #FFF831, -3px -2px 1px #FFF831, 3px -2px 1px #FFF831, -3px  2px 1px #FFF831, 3px  2px 1px #FFF831, -3px -3px 1px #FFF831, 3px -3px 1px #FFF831, -3px  3px 1px #FFF831, 3px  3px 1px #FFF831, -3px -3px 1px #FFF831, 3px -3px 1px #FFF831, -3px  3px 1px #FFF831, 3px  3px 1px #FFF831;
    font-size: 100.8px;
    line-height: 133px;
    font-weight: 900;
    letter-spacing: 0.14em;
    color: #000; }
  header .header .header-subtitle {
    filter: blur(0.5px);
    font-family: Lato;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: 0.14em;
    color: #05e7e6;
    margin-top: -40px; }

header .circle {
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(5, 231, 230, 0.25);
  width: 95px;
  height: 95px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

header .c2 {
  border: 1px solid rgba(5, 231, 230, 0.25);
  width: 65px;
  height: 65px; }

header .c3 {
  border: 2px solid #05e7e6;
  width: 35px;
  height: 35px; }

header .header-footer {
  height: 99px;
  background-color: #e53663;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 137px; }
  header .header-footer-text {
    filter: blur(0.2px);
    font-size: 21px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: 0.14em;
    color: #ffffff; }

.about {
  max-width: 80%;
  align-self: center;
  margin-bottom: 225px; }
  .about-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #05e7e6; }
  .about .subtitle-and-text {
    display: flex; }
    .about .subtitle-and-text-inner {
      background-image: linear-gradient(#05e7e6, #05e7e6), linear-gradient(#05e7e6, #05e7e6), linear-gradient(#05e7e6, #05e7e6), linear-gradient(#05e7e6, #05e7e6), linear-gradient(#05e7e6, #05e7e6), linear-gradient(#05e7e6, #05e7e6);
      background-repeat: no-repeat;
      background-size: 4px 100%, 37% 4px, 37% 4px, 8% 4px, 8% 4px, 4px 100%, calc(100% - 8px), calc(100% - 8px);
      background-position: left bottom, left bottom, right bottom, right top, left top, right top, 4px 4px; }
    .about .subtitle-and-text .about-subtitle {
      margin-bottom: 137px;
      font-size: 18px;
      line-height: 50px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 0.14em; }
    .about .subtitle-and-text .about-text {
      padding-left: 4px;
      padding-right: 4px;
      margin-bottom: 116px;
      margin-left: 80px;
      margin-right: 80px;
      font-size: 18px;
      line-height: 32px;
      font-weight: 400;
      letter-spacing: 0.14em;
      color: #ffffff; }
  .about-button {
    position: relative;
    display: flex;
    justify-content: center; }
  .about-button-inner {
    position: absolute;
    text-decoration: none;
    background-color: #e53663;
    border-radius: 27.5px;
    padding: 0 50px;
    top: -35px;
    font-size: 19px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #ffffff; }

.articles {
  align-self: center;
  max-width: 1144px; }
  .articles-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #05e7e6; }
  .articles-subtitle {
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #ffffff; }
  .articles-subjects {
    display: flex;
    justify-content: center; }
    .articles-subjects article {
      max-width: 258px;
      margin: 0 17px;
      text-align: left; }
      .articles-subjects article .article-title {
        width: 100%;
        font-size: 18px;
        line-height: 32px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.14em;
        color: #05e7e6; }
      .articles-subjects article .article-text {
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.14em;
        color: #ffffff; }
    .articles-subjects .article-3-video {
      width: 258px;
      height: 177px;
      text-align: center;
      background-color: #4c4c4c; }
    .articles-subjects .article-3 img.video-button {
      margin-top: 63px; }
  .articles-nav-button {
    margin: -1px;
    text-decoration: none;
    font-size: 18px;
    line-height: 92px;
    font-weight: 700;
    color: #fff;
    padding: 10px 15px;
    background-color: #2e2e2e;
    box-shadow: 0px 1px 0px 0px rgba(210, 217, 232, 0.4); }
    .articles-nav-button:hover {
      box-shadow: 0px 1px 2px 0px rgba(210, 217, 232, 0.4);
      color: #e53663; }
  .articles-nav-button-active {
    text-decoration: none;
    font-size: 18px;
    line-height: 92px;
    font-weight: 700;
    color: #e53663;
    padding: 10px 15px;
    background-color: #2e2e2e;
    box-shadow: 0px 1px 2px 0px rgba(210, 217, 232, 0.4); }

.stats-title {
  font-size: 24px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.14em;
  color: #05e7e6; }

.stats-subtitle {
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.14em;
  color: #fff; }

.stats-visual {
  display: flex; }
  .stats-visual-subject .sc-1 {
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(5, 231, 230, 0.25);
    width: 375px;
    height: 375px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
  .stats-visual-subject .sc-2 {
    border: 1px solid rgba(5, 231, 230, 0.25);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: relative; }
  .stats-visual-subject img {
    margin-top: 25px; }
  .stats-visual-subject-title {
    font-size: 36px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #e53663; }
  .stats-visual-subject-subtitle {
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #ffffff; }
