* {
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
  background-image: url(../img/stars.png);
  background-size: 100%;
  font-family: 'Lato', sans-serif;
  color: #fff;
  width: 100%;
  text-align: center; }

header {
  display: flex;
  flex-direction: column; }
  header img.menu {
    width: 27px;
    height: 21px;
    align-self: flex-end;
    margin-top: 35px;
    margin-right: 25px; }
  header .header {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    header .header .header-title {
      width: 50%;
      text-shadow: -0   -3px 1px #FFF831, 0   -3px 1px #FFF831, -0    3px 1px #FFF831, 0    3px 1px #FFF831, -3px -0   1px #FFF831, 3px -0   1px #FFF831, -3px  0   1px #FFF831, 3px  0   1px #FFF831, -1px -3px 1px #FFF831, 1px -3px 1px #FFF831, -1px  3px 1px #FFF831, 1px  3px 1px #FFF831, -3px -1px 1px #FFF831, 3px -1px 1px #FFF831, -3px  1px 1px #FFF831, 3px  1px 1px #FFF831, -2px -3px 1px #FFF831, 2px -3px 1px #FFF831, -2px  3px 1px #FFF831, 2px  3px 1px #FFF831, -3px -2px 1px #FFF831, 3px -2px 1px #FFF831, -3px  2px 1px #FFF831, 3px  2px 1px #FFF831, -3px -3px 1px #FFF831, 3px -3px 1px #FFF831, -3px  3px 1px #FFF831, 3px  3px 1px #FFF831, -3px -3px 1px #FFF831, 3px -3px 1px #FFF831, -3px  3px 1px #FFF831, 3px  3px 1px #FFF831;
      font-size: 100.8px;
      line-height: 133px;
      font-weight: 900;
      letter-spacing: 0.14em;
      color: #000; }
    header .header .header-subtitle {
      filter: blur(0.5px);
      font-family: Lato;
      font-size: 24px;
      line-height: 32px;
      font-weight: 500;
      letter-spacing: 0.14em;
      color: #05e7e6;
      margin-top: -40px; }
  header .button-circles {
    align-self: center;
    width: 92px;
    height: 92px; }
    header .button-circles:hover .circle {
      transition: .5s;
      transform: translate(0, 10px); }
    header .button-circles:hover .arrow:after,
    header .button-circles:hover .arrow:before {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-left: 2px solid #05e7e6;
      border-bottom: 2px solid #05e7e6;
      animation-name: arrow;
      animation-duration: 0.5s;
      animation-iteration-count: infinite; }

@keyframes arrow {
  0% {
    transform: translate(0, -2px) rotate(-45deg); }
  50% {
    transform: translate(0, 0) rotate(-45deg); }
  100% {
    transform: translate(0, 2px) rotate(-45deg); } }
  header .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(5, 231, 230, 0.25);
    width: 95px;
    height: 95px;
    margin: 0 auto; }
  header .c2 {
    border: 1px solid rgba(5, 231, 230, 0.25);
    width: 65px;
    height: 65px; }
  header .c3 {
    filter: blur(0.5px);
    border: 2px solid #05e7e6;
    width: 35px;
    height: 35px; }
    header .c3 .arrow {
      display: flex;
      position: relative;
      width: 8px;
      height: 8px; }
    header .c3 .arrow:before,
    header .c3 .arrow:after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-left: 2px solid #05e7e6;
      border-bottom: 2px solid #05e7e6;
      transform: rotate(-45deg); }
  header .header-footer {
    height: 99px;
    background-color: #e53663;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 137px; }
    header .header-footer-text {
      filter: blur(0.5px);
      font-size: 21px;
      line-height: 60px;
      font-weight: 500;
      letter-spacing: 0.14em;
      color: #ffffff; }

.about {
  max-width: 80%;
  align-self: center;
  margin-bottom: 225px; }
  .about-title {
    filter: blur(0.5px);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #05e7e6; }
  .about .subtitle-and-text {
    display: flex; }
    .about .subtitle-and-text-inner {
      background-image: linear-gradient(#05e7e6, #05e7e6), linear-gradient(#05e7e6, #05e7e6), linear-gradient(#05e7e6, #05e7e6), linear-gradient(#05e7e6, #05e7e6), linear-gradient(#05e7e6, #05e7e6), linear-gradient(#05e7e6, #05e7e6);
      background-repeat: no-repeat;
      background-size: 4px 100%, 37% 4px, 37% 4px, 8% 4px, 8% 4px, 4px 100%, calc(100% - 8px), calc(100% - 8px);
      background-position: left bottom, left bottom, right bottom, right top, left top, right top, 4px 4px; }
    .about .subtitle-and-text .about-subtitle {
      filter: blur(0.5px);
      margin-bottom: 137px;
      font-size: 18px;
      line-height: 50px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 0.14em; }
    .about .subtitle-and-text .about-text {
      filter: blur(0.5px);
      padding-left: 4px;
      padding-right: 4px;
      margin-bottom: 116px;
      margin-left: 80px;
      margin-right: 80px;
      font-size: 18px;
      line-height: 32px;
      font-weight: 400;
      letter-spacing: 0.14em;
      color: #ffffff; }
  .about-button {
    filter: blur(0.5px);
    position: relative;
    display: flex;
    justify-content: center; }
  .about-button-inner {
    position: absolute;
    text-decoration: none;
    background-color: #e53663;
    border-radius: 27.5px;
    padding: 0 50px;
    top: -35px;
    font-size: 19px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #ffffff;
    transition: 0.2s ease-in-out; }
    .about-button-inner:hover {
      transform: scale(1.05); }

.articles {
  align-self: center;
  max-width: 1144px; }
  .articles-title {
    filter: blur(0.5px);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #05e7e6; }
  .articles-subtitle {
    filter: blur(0.5px);
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #ffffff; }
  .articles-subjects {
    display: flex;
    justify-content: center; }
    .articles-subjects article {
      max-width: 258px;
      margin: 0 17px;
      text-align: left; }
      .articles-subjects article .article-title {
        filter: blur(0.5px);
        width: 100%;
        font-size: 18px;
        line-height: 32px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.14em;
        color: #05e7e6; }
      .articles-subjects article .article-text {
        filter: blur(0.5px);
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.14em;
        color: #ffffff; }
    .articles-subjects .article-3-video {
      width: 258px;
      height: 177px;
      text-align: center;
      background-color: #4c4c4c; }
    .articles-subjects .article-3 img.video-button {
      margin-top: 63px; }
    .articles-subjects .article-3 .article-title {
      color: #e53663; }
  .articles-nav-button {
    margin: -1px;
    text-decoration: none;
    font-size: 18px;
    line-height: 92px;
    font-weight: 700;
    color: #fff;
    padding: 10px 15px;
    background-color: #2e2e2e;
    box-shadow: 0px 1px 0px 0px rgba(210, 217, 232, 0.4); }
    .articles-nav-button:hover {
      box-shadow: 0px 1px 2px 0px rgba(210, 217, 232, 0.4);
      color: #e53663; }
  .articles-nav-button-active {
    text-decoration: none;
    font-size: 18px;
    line-height: 92px;
    font-weight: 700;
    color: #e53663;
    padding: 10px 15px;
    background-color: #2e2e2e;
    box-shadow: 0px 1px 2px 0px rgba(210, 217, 232, 0.4); }

.stats {
  margin-top: 200px;
  margin-bottom: 150px; }
  .stats-title {
    font-size: 24px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #05e7e6; }
  .stats-subtitle {
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #fff; }
  .stats-visual {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .stats-visual-subject-title {
      font-size: 36px;
      line-height: 32px;
      font-weight: 700;
      letter-spacing: 0.14em;
      color: #e53663; }
    .stats-visual-subject-subtitle {
      font-size: 18px;
      line-height: 32px;
      font-weight: 700;
      letter-spacing: 0.14em;
      color: #ffffff;
      margin-top: -20px; }
    .stats-visual-subject-1 {
      margin-right: 17px; }
      .stats-visual-subject-1 .sc-1 {
        border-radius: 50%;
        background: transparent;
        border: 1px solid rgba(5, 231, 230, 0.25);
        width: 365px;
        height: 365px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center; }
      .stats-visual-subject-1 .sc-2 {
        background-image: url(../img/stats1.png);
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid rgba(5, 231, 230, 0.25);
        border-radius: 50%;
        width: 310px;
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .stats-visual-subject-2 {
      margin-right: 17px;
      margin-left: 17px; }
      .stats-visual-subject-2 .sc-1 {
        border-radius: 50%;
        background: transparent;
        border: 1px solid rgba(5, 231, 230, 0.25);
        width: 365px;
        height: 365px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center; }
      .stats-visual-subject-2 .sc-2 {
        background-image: url(../img/stats2.png);
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid rgba(5, 231, 230, 0.25);
        border-radius: 50%;
        width: 310px;
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .stats-visual-subject-2 img {
        margin-top: 25px; }
    .stats-visual-subject-3 {
      margin-left: 17px; }
      .stats-visual-subject-3 .sc-1 {
        border-radius: 50%;
        background: transparent;
        border: 1px solid rgba(5, 231, 230, 0.25);
        width: 365px;
        height: 365px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center; }
      .stats-visual-subject-3 .sc-2 {
        background-image: url(../img/stats3.png);
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid rgba(5, 231, 230, 0.25);
        border-radius: 50%;
        width: 310px;
        height: 310px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
      .stats-visual-subject-3 img {
        margin-top: 25px; }

.impressions-title {
  filter: blur(0.5px);
  font-size: 24px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.14em;
  color: #05e7e6; }

.impressions-subtitle {
  filter: blur(0.5px);
  margin-top: -20px;
  font-family: Lato;
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.14em;
  color: #fff; }

.impressions .impressions-subjects {
  display: flex;
  justify-content: center; }

.impressions-subject {
  display: flex;
  margin-right: 67px;
  margin-left: 50px;
  margin-bottom: 70px; }
  .impressions-subject img {
    margin-right: 36px;
    margin-top: 15px;
    width: 133px;
    height: 133px;
    flex: 0 auto; }

.impressions .impression-name-org {
  display: flex;
  flex-direction: column; }
  .impressions .impression-name-org .impression {
    filter: blur(0.5px);
    font-size: 17.9px;
    line-height: 31px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.14em;
    color: #ffffff;
    text-align: left; }

.impressions .name-org {
  display: flex; }
  .impressions .name-org .name {
    filter: blur(0.5px);
    font-size: 17.9px;
    line-height: 31px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #05e7e6; }
  .impressions .name-org .org {
    filter: blur(0.5px);
    font-size: 17.9px;
    line-height: 31px;
    font-weight: 400;
    letter-spacing: 0.14em;
    color: #fff; }

.side-title {
  filter: blur(0.5px);
  font-size: 24px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.14em;
  color: #05e7e6; }

.side-subtitle {
  filter: blur(0.5px);
  margin-top: -20px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
  letter-spacing: 0.14em;
  color: #fff; }

.side-buttons {
  margin-bottom: 190px;
  margin-top: 80px; }
  .side-buttons .side-button {
    text-decoration: none;
    padding: 15px 40px;
    border: 2px solid #05e7e6;
    border-radius: 27.5px;
    font-size: 19px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #05e7e6; }
    .side-buttons .side-button:hover {
      color: #e53663;
      border-color: #e53663; }
  .side-buttons .side-button-active {
    text-decoration: none;
    background-color: #e53663;
    border-color: #e53663;
    border-radius: 27.5px;
    font-size: 19px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: 0.14em;
    color: #ffffff;
    margin-left: 50px;
    transition: 0.2s ease-in-out; }
    .side-buttons .side-button-active:hover {
      text-decoration: underline;
      color: #fff; }
